**/ai_coding_best_practices.ipynb
**/crossing_the_enterprise_gap.ipynb
**/direct_preference_evaluation.ipynb
**/final_hidden_state.ipynb
**/flash_attention.ipynb
**/large_transformer_inference.ipynb
**/quantization.ipynb
**/teaching_llm_investing.ipynb
**/the_transformer.ipynb
